.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination li {
    margin-right: 0.2rem;
}

.pagination li:last-of-type {
    margin-right: 0;
}

.searchInput {
    width: 15rem;
    margin-bottom: 0.5rem;
}
.number-select {
    width: 300px;
}

.select__tbl{
    display: inline-block;
    justify-content: center;
    margin-left: 890px;
    width: 100px;
    margin-bottom: 0.5rem;
}